h1 {
  color: rgb(61, 190, 44);
  font-size:30pt;     

  margin-bottom:30px;  
}

h2 {
  color: rgb(0, 0, 0);
  font-size:25pt;     
  margin-top:40px;  
  margin-bottom:20px;  
  border: rgb;
}

h3 {
  color: rgb(0, 0, 0) ;
  font-size:12pt;     
  margin-top:50px;  
  margin-bottom:0px;  
}

h4,h5,h6 {  
  margin-left:20px;  
  font-size:12pt;  
}

p {
  font-family:"Arial","Microsoft YaHei","黑体","宋体","sans-serif";
  font-size:13pt;     
  line-height:200%;    
}

ul {
    line-height:200%;  
}

.doc.doc-heading {
  color: rgb(190, 98, 44) !important;

}

.highlight.language-python{
  color: rgb(0, 0, 0) !important;
}

/* .n {
  color: rgb(61, 190, 44) !important;
} */

h2.doc.doc-heading code{
  background-color: rgb(240, 240, 240);
  padding: 2px 5px;
  border-left: solid 5px rgb(185, 185, 185);
  color: #000000;
  font-size: 20pt;
  white-space: pre-wrap;
  word-wrap: break-word;
  
}

h2.doc.doc-heading code .p,
h2.doc.doc-heading code .o,
h2.doc.doc-heading code .s1,
h2.doc.doc-heading code .nb,
h2.doc.doc-heading code .kc,
h2.doc.doc-heading code .highlight.language-python
{
  font-size: 12pt;
}

h2.doc.doc-heading code .n{
  font-size: 12pt;
  color: rgb(51, 24, 202) !important;
  font-family: Consolas, 'Microsoft Yahei', 'Courier New', monospace; /* 设置字体为微软雅黑，备选使用 sans-serif */
}

/* 签名样式 */
.doc.doc-heading span{
  padding: 2px 5px;
  color: rgb(0, 0, 0);
  font-family: Consolas, 'Microsoft Yahei', 'Courier New', monospace; /* 设置字体为微软雅黑，备选使用 sans-serif */
}

/* region 前缀 */
.doc.doc-heading span.doc::before{
  color: rgb(223, 191, 159);
  padding: 2px 5px;

  border-left: solid 5px rgb(120, 120, 120);
  font-style: italic; /* 将文本设置为斜体 */
  font-family: "Microsoft YaHei", sans-serif; /* 设置字体为微软雅黑，备选使用 sans-serif */
  font-weight: normal; /* 设置字体为正常（非粗体） */
}

h4.doc.doc-heading span.doc::before{
  border-left: solid 5px rgb(160, 160, 160);
}

h5.doc.doc-heading span.doc::before, h6.doc.doc-heading span.doc::before{
  border-left: solid 5px rgb(200, 200, 200);
}

.doc.doc-heading span.doc.doc-object-name.doc-function-name::before{
  content: "function  ";
}

.doc.doc-heading span.doc.doc-object-name.doc-attribute-name::before {
  content: "attribute  ";
}

.doc.doc-heading span.doc.doc-object-name.doc-class-name::before {
  content: "class  ";
}
/* endregion 前缀 end */


h3.doc.doc-heading code{
  background-color: rgb(240, 240, 240);
  padding: 2px 5px;
  margin-left: 20px;
  border-left: solid 5px rgb(185, 185, 185);
  color: #000000;
  white-space: pre-wrap;
  word-wrap: break-word;
}

h3.doc.doc-heading span code{
  color: rgb(0, 0, 0) !important;
  font-size: 12pt;
  background-color: rgb(255, 255, 255); 
}

/* region label */
/* module-attribute, staticmethod */
.doc.doc-heading span small.doc.doc-label.doc-label-module-attribute code,
.doc.doc-heading span small.doc.doc-label.doc-label-staticmethod code{
  color: rgb(0, 0, 0) !important;
  font-size: 12pt;
  background-color: rgb(244, 223, 223);/* shallow red */
}

/* class-attribute, classmethod */
.doc.doc-heading span small.doc.doc-label.doc-label-class-attribute code,
.doc.doc-heading span small.doc.doc-label.doc-label-classmethod code{
  color: rgb(0, 0, 0) !important;
  background-color: rgb(243, 243, 224);/* shallow yellow */
}

/* property, writable*/
.doc.doc-heading span small.doc.doc-label.doc-label-property code,
.doc.doc-heading span small.doc.doc-label.doc-label-writable code{
  color: rgb(0, 0, 0) !important;
  font-size: 12pt;
  background-color: rgb(224, 243, 243);/* shallow blue */
}

/* abstractmethod*/
h3.doc.doc-heading span small.doc.doc-label.doc-label-abstractmethod code
{
  color: rgb(0, 0, 0) !important;
  font-size: 12pt;
  background-color: rgb(255, 255, 128);/* shallow blue */
}
/* endregion label */

p, th{
  text-indent: 20px !important; /* 设置首行缩进为 20 像素 */
  margin-left: 20px;
  margin-bottom: 2px; /* 底部间距为 10 像素 */ 
  line-height: 15pt;
}

div.doc-signature.highlight pre code{
  margin-left: 10px;
}

.h3-link{
  font-family: Consolas, 'Microsoft Yahei', 'Courier New', monospace;
  font-size:12pt;  
}

.h4-link, .h5-link, .h6-link{
  font-family: Consolas, 'Microsoft Yahei', 'Courier New', monospace;
  margin-left:20px;  
  font-size:12pt;  
}

div.wy-menu.wy-menu-vertical li.current>a:active,
div.wy-menu.wy-menu-vertical li.current>a.current {
  background-color: rgb(160, 160, 160);
  font-weight: bolder;
  color: rgb(0, 0, 0);
  font-family: Consolas, 'Microsoft Yahei', 'Courier New', monospace;
}